.root:global(.__wab_instance) {
  position: relative;
  background: var(--token-7FyxSUso_RAz);
  display: flex;
  cursor: pointer;
  box-sizing: border-box;
  min-width: var(--token-gFhaiZazWL8Q);
  font-family: var(--token-syJ31Fh37KDm);
  font-size: var(--token-6PoYYTEAPsA1);
  line-height: var(--token-2nKk0LP3El2Y);
  outline-style: none;
  border-radius: var(--token-lwfelC8s98-T);
  padding: 0rem;
  border-width: 0px;
}
.root[data-focus-visible]:global(.__wab_instance) {
  outline-style: solid;
  outline-width: var(--token-xCyEG3zI7P4G);
  outline-offset: 1px;
  outline-color: var(--token-7FyxSUso_RAz);
}
.root[data-disabled]:global(.__wab_instance) {
  cursor: not-allowed;
}
.rootcolor_neutral:global(.__wab_instance) {
  background: var(--token-rx3mFh4GKZee);
}
.rootcolor_muted:global(.__wab_instance) {
  background: var(--token-O_c25BQIVkJj);
}
.rootcolor_success:global(.__wab_instance) {
  background: var(--token-Xc96UWZHay71);
}
.rootcolor_warning:global(.__wab_instance) {
  background: var(--token-F4rW9n4W8C3u);
}
.rootcolor_errorDestructive:global(.__wab_instance) {
  background: var(--token-S-hThVVoCK0R);
}
.roottype_soft:global(.__wab_instance) {
  background: none;
}
.roottype_bordered:global(.__wab_instance) {
  background: none;
}
.rootsize_extraSmall:global(.__wab_instance) {
  line-height: var(--token-EMpqgVTI6a3L);
  font-size: var(--token-REPTsBUWzhrc);
  column-gap: var(--token-xCyEG3zI7P4G);
  row-gap: 0px;
  border-radius: var(--token-lBKYmTBzSAdH);
}
.rootsize_small:global(.__wab_instance) {
  font-size: var(--token-REPTsBUWzhrc);
  line-height: var(--token-EMpqgVTI6a3L);
  column-gap: var(--token-lBKYmTBzSAdH);
  row-gap: 0px;
  border-radius: var(--token-lBKYmTBzSAdH);
}
.rootsize_large:global(.__wab_instance) {
  font-size: var(--token-RuWurahjsDTK);
  line-height: var(--token-1nvP3WjznUJ1);
}
.rootsize_extraLarge:global(.__wab_instance) {
  font-size: var(--token-RuWurahjsDTK);
  line-height: var(--token-1nvP3WjznUJ1);
}
.rootroundedFull:global(.__wab_instance) {
  border-radius: 99px;
}
.rootflatSide_top:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-top-left-radius: 0rem;
}
.rootflatSide_right:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.rootflatSide_bottom:global(.__wab_instance) {
  border-bottom-right-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.rootflatSide_left:global(.__wab_instance) {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.softBackground {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background: var(--token-LxqoYq2yG3C0);
  border-radius: var(--token-lwfelC8s98-T);
}
.softBackgroundcolor_neutral {
  background: var(--token---OQDNEhlREd);
}
.softBackgroundcolor_muted {
  background: var(--token-RrWOwmVNExmZ);
}
.softBackgroundcolor_success {
  background: var(--token-w3dwXj2hXs7y);
}
.softBackgroundcolor_warning {
  background: var(--token-zB_3z1Jj8hgv);
}
.softBackgroundcolor_errorDestructive {
  background: var(--token-d4eV2pyYfW5X);
}
.softBackgroundtype_soft {
  display: block;
}
.roottype_bordered[data-hovered] .softBackgroundtype_bordered {
  display: block;
}
.roottype_bordered[data-pressed] .softBackgroundtype_bordered {
  display: block;
}
.softBackgroundroundedFull {
  border-radius: 99px;
}
.border {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  border-radius: var(--token-lwfelC8s98-T);
  border: 0px solid var(--token-ktP4s6qjPJum);
}
.bordercolor_neutral {
  border-color: var(--token-dO8onhuxpg8u);
}
.bordercolor_muted {
  border-color: var(--token-LPW7G96Q97_B);
}
.bordercolor_success {
  border-color: var(--token-yaKopmpNY4hg);
}
.bordercolor_warning {
  border-color: var(--token-1-fAn8i3Y1BN);
}
.bordercolor_errorDestructive {
  border-color: var(--token-Su-pO28HtJo6);
}
.bordertype_bordered {
  background: none;
  display: block;
  border-width: 1px;
}
.borderroundedFull {
  border-radius: 99px;
}
.borderflatSide_top {
  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
}
.borderflatSide_right {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_bottom {
  border-bottom-left-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_left {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.interactionEffect {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  border-radius: var(--token-lwfelC8s98-T);
}
.root[data-hovered] .interactionEffect {
  background: var(--token-c9x4mM08_Uuw);
}
.root[data-disabled] .interactionEffect {
  background: var(--token-A4vuXzBtFjsj);
}
.root[data-pressed] .interactionEffect {
  background: var(--token-Rw2MsVSPvEEt);
}
.roottype_bordered[data-hovered] .interactionEffecttype_bordered {
  display: none;
}
.interactionEffectroundedFull {
  border-radius: 99px;
}
.freeBox___0Glbk {
  display: flex;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
  padding: var(--token-lwfelC8s98-T) var(--token-deKYzOC63fJm);
}
.freeBox___0Glbk > :global(.__wab_flex-container) {
  justify-content: center;
  align-items: center;
  min-width: 0;
  min-height: 0;
  margin-left: calc(0px - var(--token-lwfelC8s98-T));
  width: calc(100% + var(--token-lwfelC8s98-T));
}
.freeBox___0Glbk > :global(.__wab_flex-container) > *,
.freeBox___0Glbk > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___0Glbk > :global(.__wab_flex-container) > picture > img,
.freeBox___0Glbk
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-lwfelC8s98-T);
}
.freeBoxsize_extraSmall___0GlbkypqdV {
  padding: var(--token-lBKYmTBzSAdH) var(--token-lwfelC8s98-T);
}
.freeBoxsize_small___0GlbkucPf6 {
  padding: var(--token-lwfelC8s98-T) var(--token-gFhaiZazWL8Q);
}
.freeBoxsize_large___0GlbkTgyU {
  padding-top: var(--token-lBKYmTBzSAdH);
  padding-bottom: var(--token-lBKYmTBzSAdH);
}
.freeBoxsize_extraLarge___0GlbkToKvg {
  padding-left: var(--token-UNb1LVajhz7Y);
  padding-right: var(--token-UNb1LVajhz7Y);
}
.freeBoxroundedFull___0GlbkVm3MZ {
  padding-right: var(--token-UNb1LVajhz7Y);
  padding-left: var(--token-UNb1LVajhz7Y);
}
.freeBox__jocC {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconStart__jocCFranf {
  display: flex;
}
.slotTargetStart {
  color: var(--token-9GjX_hAfs_ol);
}
.slotTargetStartcolor_neutral {
  color: var(--token-TdnmkDjGyb7_);
}
.slotTargetStartcolor_muted {
  color: var(--token-y7eG_HlR9XX_);
}
.slotTargetStartcolor_success {
  color: var(--token-qJjFNUOmnEH2);
}
.slotTargetStartcolor_warning {
  color: var(--token-KS1chzomhPYC);
}
.slotTargetStartcolor_errorDestructive {
  color: var(--token-ZwpPt8gNRArG);
}
.slotTargetStarttype_soft {
  color: var(--token-7iL_6_l-u75Y);
}
.slotTargetStarttype_bordered {
  color: var(--token-7iL_6_l-u75Y);
}
.slotTargetStartsize_extraSmall {
  font-size: var(--token-REPTsBUWzhrc);
}
.slotTargetStartsize_small {
  font-size: var(--token-REPTsBUWzhrc);
}
.slotTargetStartsize_large {
  font-size: var(--token-RuWurahjsDTK);
}
.slotTargetStartsize_extraLarge {
  font-size: var(--token-RuWurahjsDTK);
}
.slotTargetStartcolor_neutral_type_soft {
  color: var(--token-d09eVkGw8FCa);
}
.slotTargetStarttype_bordered_color_neutral {
  color: var(--token-d09eVkGw8FCa);
}
.slotTargetStartcolor_muted_type_soft {
  color: var(--token-cDoK8PIFc8qU);
}
.slotTargetStarttype_bordered_color_muted {
  color: var(--token-cDoK8PIFc8qU);
}
.slotTargetStartcolor_success_type_soft {
  color: var(--token-Z7S0dUeweH4c);
}
.slotTargetStarttype_bordered_color_success {
  color: var(--token-Z7S0dUeweH4c);
}
.slotTargetStartcolor_warning_type_soft {
  color: var(--token-HqAcWE7Y4dNk);
}
.slotTargetStarttype_bordered_color_warning {
  color: var(--token-HqAcWE7Y4dNk);
}
.slotTargetStartcolor_errorDestructive_type_soft {
  color: var(--token-b7k-FbsPLL4u);
}
.slotTargetStarttype_bordered_color_errorDestructive {
  color: var(--token-b7k-FbsPLL4u);
}
.svg__hC9Us {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
.slotTargetLabel {
  color: var(--token-9GjX_hAfs_ol);
}
.slotTargetLabelcolor_neutral {
  color: var(--token-TdnmkDjGyb7_);
}
.slotTargetLabelcolor_muted {
  color: var(--token-y7eG_HlR9XX_);
}
.slotTargetLabelcolor_success {
  color: var(--token-qJjFNUOmnEH2);
}
.slotTargetLabelcolor_warning {
  color: var(--token-KS1chzomhPYC);
}
.slotTargetLabelcolor_errorDestructive {
  color: var(--token-ZwpPt8gNRArG);
}
.slotTargetLabeltype_soft {
  color: var(--token-7iL_6_l-u75Y);
}
.slotTargetLabeltype_bordered {
  color: var(--token-7iL_6_l-u75Y);
}
.slotTargetLabelcolor_neutral_type_soft {
  color: var(--token-d09eVkGw8FCa);
}
.slotTargetLabelcolor_muted_type_soft {
  color: var(--token-cDoK8PIFc8qU);
}
.slotTargetLabeltype_bordered_color_neutral {
  color: var(--token-d09eVkGw8FCa);
}
.slotTargetLabelcolor_success_type_soft {
  color: var(--token-Z7S0dUeweH4c);
}
.slotTargetLabeltype_bordered_color_muted {
  color: var(--token-cDoK8PIFc8qU);
}
.slotTargetLabelcolor_warning_type_soft {
  color: var(--token-HqAcWE7Y4dNk);
}
.slotTargetLabeltype_bordered_color_success {
  color: var(--token-Z7S0dUeweH4c);
}
.slotTargetLabelcolor_errorDestructive_type_soft {
  color: var(--token-b7k-FbsPLL4u);
}
.slotTargetLabeltype_bordered_color_warning {
  color: var(--token-HqAcWE7Y4dNk);
}
.slotTargetLabeltype_bordered_color_errorDestructive {
  color: var(--token-b7k-FbsPLL4u);
}
.text__jljol {
  white-space: pre;
}
.freeBox___5CUas {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconEnd___5CUas09R2S {
  display: flex;
}
.slotTargetEnd {
  color: var(--token-9GjX_hAfs_ol);
}
.slotTargetEndcolor_neutral {
  color: var(--token-TdnmkDjGyb7_);
}
.slotTargetEndcolor_muted {
  color: var(--token-y7eG_HlR9XX_);
}
.slotTargetEndcolor_success {
  color: var(--token-qJjFNUOmnEH2);
}
.slotTargetEndcolor_warning {
  color: var(--token-KS1chzomhPYC);
}
.slotTargetEndcolor_errorDestructive {
  color: var(--token-ZwpPt8gNRArG);
}
.slotTargetEndtype_soft {
  color: var(--token-7iL_6_l-u75Y);
}
.slotTargetEndtype_bordered {
  color: var(--token-7iL_6_l-u75Y);
}
.slotTargetEndsize_extraSmall {
  font-size: var(--token-REPTsBUWzhrc);
}
.slotTargetEndsize_small {
  font-size: var(--token-REPTsBUWzhrc);
}
.slotTargetEndsize_large {
  font-size: var(--token-RuWurahjsDTK);
}
.slotTargetEndsize_extraLarge {
  font-size: var(--token-RuWurahjsDTK);
}
.slotTargetEndcolor_neutral_type_soft {
  color: var(--token-d09eVkGw8FCa);
}
.slotTargetEndtype_bordered_color_neutral {
  color: var(--token-d09eVkGw8FCa);
}
.slotTargetEndcolor_muted_type_soft {
  color: var(--token-cDoK8PIFc8qU);
}
.slotTargetEndtype_bordered_color_muted {
  color: var(--token-cDoK8PIFc8qU);
}
.slotTargetEndcolor_success_type_soft {
  color: var(--token-Z7S0dUeweH4c);
}
.slotTargetEndtype_bordered_color_success {
  color: var(--token-Z7S0dUeweH4c);
}
.slotTargetEndcolor_warning_type_soft {
  color: var(--token-HqAcWE7Y4dNk);
}
.slotTargetEndtype_bordered_color_warning {
  color: var(--token-HqAcWE7Y4dNk);
}
.slotTargetEndcolor_errorDestructive_type_soft {
  color: var(--token-b7k-FbsPLL4u);
}
.slotTargetEndtype_bordered_color_errorDestructive {
  color: var(--token-b7k-FbsPLL4u);
}
.svg__tAaHb {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
