.ariaDialogTrigger:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__rxcSx {
  position: relative;
  height: 1em;
}
.svg___0QiKl {
  position: relative;
  height: 1em;
}
.ariaModal:global(.__wab_instance) {
  background: var(--token-cu3h7rYoRspa);
  display: block;
  color: var(--token-Wo4Rnniu_PBW);
  font-family: var(--token-syJ31Fh37KDm);
  font-size: var(--token-6PoYYTEAPsA1);
  line-height: var(--token-2nKk0LP3El2Y);
  outline-style: none;
  box-shadow: 0px 24px 48px -12px #00000040;
  border-radius: var(--token-EPRjdr5e7QbG);
}
.pcls_AFo4xH0E1uMf {
  background: var(--token-fHG7Ux2F7HYd);
  left: 0px;
  top: 0px;
  z-index: 10;
  position: fixed;
  right: 0px;
  bottom: 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  outline: none;
}
.ariaModalnoTrigger:global(.__wab_instance) {
  left: auto;
  top: 0;
  z-index: 1;
  position: fixed;
  right: 0;
  bottom: 0;
}
.ariaDialog:global(.__wab_instance) {
  max-width: 90vw;
  object-fit: cover;
  overflow: hidden;
  max-height: 90vh;
  display: flex;
  flex-direction: column;
  outline-style: none;
}
.ariaHeadingDeprecated:global(.__wab_instance) {
  flex-shrink: 0;
  padding: var(--token-TzOgKK32xAMP);
  margin: 0rem;
}
.scrollableContent {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  overflow: auto;
  padding-left: var(--token-TzOgKK32xAMP);
  padding-right: var(--token-TzOgKK32xAMP);
}
.freeBox__geubl {
  display: flex;
  flex-direction: column;
  position: relative;
}
.freeBox__geubl > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - var(--token-UNb1LVajhz7Y));
  height: calc(100% + var(--token-UNb1LVajhz7Y));
}
.freeBox__geubl > :global(.__wab_flex-container) > *,
.freeBox__geubl > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__geubl > :global(.__wab_flex-container) > picture > img,
.freeBox__geubl
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-UNb1LVajhz7Y);
}
.text__reyz1 {
  position: relative;
}
.freeBox {
  display: flex;
  position: relative;
  flex-shrink: 0;
  padding: var(--token-TzOgKK32xAMP);
}
.freeBox__hwJj {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  min-width: 0;
}
.svg__o85Qo {
  position: relative;
  height: 1em;
}
.text__t4S3B {
  padding-left: 0px;
}
.svg__a4PTs {
  position: relative;
  height: 1em;
}
