.root {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: stretch;
  justify-content: flex-start;
  align-items: center;
  background:
    url("/plasmic/syn_apps_website/images/heroImageSvg2.svg") top 50% left 50% / cover repeat,
    var(--token-EQ74G4axSkic);
  padding-right: 8px;
  padding-left: 8px;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.root > * {
  grid-column: 4;
}
@media (max-width: 760px) {
  .root > * {
    grid-column: 4;
  }
}
.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  position: fixed;
  justify-content: center;
  left: 0;
  top: 0;
  z-index: 5;
  right: 0;
  box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.2);
  background: var(--token-EQ74G4axSkic);
  height: 3em;
  column-gap: 16px;
  min-width: 0;
  padding: 0.5em;
}
@media (max-width: 760px) {
  .header {
    column-gap: 5px;
    row-gap: 0px;
  }
}
.freeBox__yorP {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1080px;
  column-gap: 16px;
  min-width: 0;
}
.img {
  object-fit: fill;
  width: 8em;
  height: 2em;
  align-self: center;
  cursor: pointer;
  flex-shrink: 0;
}
.img > picture > img {
  object-fit: fill;
}
.freeBox__as19T {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: 30em;
  column-gap: 8px;
  flex-shrink: 0;
}
.freeBox__gs65Y {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.button__nShN {
  font-size: 18px;
  line-height: 28px;
  color: #ffffff;
  font-weight: 500;
  background: #000000d9;
  font-family: "Inter", sans-serif;
  font-style: normal;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  border-radius: 6px;
  border-width: 0px;
}
.button__ylNoe:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  display: none;
}
.svg__sWupo {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__wQ0Va {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  color: #1b1b18;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__ldPx {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.menuTitle {
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  align-self: center;
  cursor: pointer;
  display: none;
}
@media (max-width: 760px) {
  .menuTitle {
    display: flex;
  }
}
.text__rmWwF {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-family: "Vazirmatn", sans-serif;
  font-size: 1.2em;
  font-weight: 500;
  align-self: center;
  color: var(--token-sD0iOLam3c1_);
  font-style: normal;
  text-align: center;
  text-transform: none;
  line-height: 150%;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.svg__iEm9 {
  object-fit: cover;
  color: var(--token-sD0iOLam3c1_);
  width: 2em;
  height: 100%;
  cursor: pointer;
  flex-shrink: 0;
  min-height: 0;
}
.mobileMenu {
  flex-direction: column;
  position: fixed;
  height: 100%;
  justify-content: flex-start;
  align-items: stretch;
  left: auto;
  top: 0;
  z-index: 1;
  right: 0;
  bottom: 0;
  background: #ffffff;
  width: 60%;
  row-gap: 50px;
  display: none;
  padding: 0.5em 8px 8px;
}
@media (max-width: 760px) {
  .mobileMenu {
    display: flex;
  }
}
.svg__qG38 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  align-self: flex-end;
  color: var(--token-RvPI6LyeIPmd);
  left: auto;
  top: auto;
  width: 1.5em;
  height: 1em;
  max-height: 100%;
  z-index: 1;
  flex-shrink: 0;
  border-radius: 8px;
  margin: 0px 0px 5px;
  border-width: 1px;
  border-style: none;
}
@media (max-width: 760px) {
  .svg__qG38 {
    max-height: 100%;
    left: auto;
    top: auto;
    right: auto;
    align-self: flex-start;
    margin-top: 0.4em;
    margin-bottom: 1em;
    cursor: pointer;
  }
}
.menu:global(.__wab_instance) {
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.تستکنيدDemo3:global(.__wab_instance) {
  text-align: center;
  height: auto;
  width: auto;
}
.تستکنيدDemo2:global(.__wab_instance) {
  position: relative;
  align-self: center;
}
.svg__nKqVg {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text___8KO9D {
  font-weight: 600;
  margin-left: 0px;
  margin-right: 0px;
  color: #000000;
  font-size: 0.9em;
  font-family: "Vazirmatn", sans-serif;
  text-align: center;
  font-style: normal;
  text-transform: none;
  line-height: 26px;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
  padding: 0px;
}
.svg__bc6M {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #ffffff;
  margin-top: 1px;
  margin-left: 24px;
}
.ورودبهاينلب:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  font-family: "Vazirmatn", sans-serif;
  font-size: 1em;
  color: #000000;
  text-align: center;
  border-bottom-style: solid;
  border-bottom-width: 0.2px;
  font-weight: 600;
}
.text__nMOfc {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: 400;
  font-style: normal;
  color: #00000080;
  text-align: center;
  text-transform: none;
  line-height: 150%;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
  min-width: 0;
}
.ديوارعشق:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  font-family: "Vazirmatn", sans-serif;
  font-size: 1em;
  color: #000000;
  text-align: center;
  border-bottom-style: solid;
  border-bottom-width: 0.2px;
  font-weight: 600;
}
.text__iE4L {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: 400;
  font-style: normal;
  color: #00000080;
  text-align: center;
  text-transform: none;
  line-height: 150%;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
  min-width: 0;
}
.قيمتگذاري:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  font-family: "Vazirmatn", sans-serif;
  font-size: 1em;
  color: #000000;
  text-align: center;
  border-bottom-style: solid;
  border-bottom-width: 0.2px;
  font-weight: 600;
}
.text__vOvJe {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: 400;
  font-style: normal;
  color: #00000080;
  text-align: center;
  text-transform: none;
  line-height: 150%;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
  min-width: 0;
}
.سوالاتشايع:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  font-family: "Vazirmatn", sans-serif;
  font-size: 1em;
  color: #000000;
  text-align: center;
  border-bottom-style: solid;
  border-bottom-width: 0.2px;
  font-weight: 600;
}
.text__qw19P {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: 400;
  font-style: normal;
  color: #00000080;
  text-align: center;
  text-transform: none;
  line-height: 150%;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
  min-width: 0;
}
.دربارهسیناپس:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  font-family: "Vazirmatn", sans-serif;
  font-size: 1em;
  color: #000000;
  text-align: center;
  border-bottom-style: solid;
  border-bottom-width: 0.2px;
  font-weight: 600;
}
.text__zGkG1 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: 400;
  font-style: normal;
  color: #00000080;
  text-align: center;
  text-transform: none;
  line-height: 150%;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
  min-width: 0;
}
.svg__mMqC1 {
  object-fit: cover;
  max-width: 100%;
  color: #000000;
  height: 1em;
}
@media (max-width: 760px) {
  .svg__mMqC1 {
    display: none;
  }
}
.inputStack {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  margin-top: 5em;
  row-gap: 10px;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
}
.text__mayps {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Vazirmatn", sans-serif;
  font-size: 0.7em;
  min-width: 0;
}
.phoneNumber:global(.__wab_instance) {
  position: relative;
  width: 350px;
  height: 60px;
  align-self: center;
  flex-shrink: 0;
}
@media (max-width: 760px) {
  .phoneNumber:global(.__wab_instance) {
    width: 70%;
  }
}
.svg___4T8Ij {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
  color: var(--token-AF5qOwvGKv4d);
  margin-left: 3px;
}
.svg__iJeu {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
  color: var(--token-AF5qOwvGKv4d);
}
.password:global(.__wab_instance) {
  position: relative;
  width: 350px;
  height: 60px;
  align-self: center;
  flex-shrink: 0;
}
@media (max-width: 760px) {
  .password:global(.__wab_instance) {
    width: 70%;
  }
}
.svg__kz6B1 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
  color: var(--token-AF5qOwvGKv4d);
  margin-left: 3px;
}
.svg__xtMCd {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
  color: var(--token-AF5qOwvGKv4d);
}
.loginButton:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: auto;
}
.svg__qcLIg {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__uSiV8 {
  white-space: pre-wrap;
  padding-left: 0px;
  margin-left: 0px;
  padding-right: 0px;
  color: #ffffff;
  font-family: "Vazirmatn", sans-serif;
  font-size: var(--token-03Of5tm7B7gQ);
  font-weight: 500;
  font-style: normal;
  text-align: center;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  user-select: none;
  text-decoration-line: none !important;
}
.svg___3HR7O {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #ffffff;
  margin-top: 1px;
  margin-left: 24px;
}
.getSubscriptionDetail:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  font-family: "Vazirmatn", sans-serif;
  width: 100%;
  height: auto;
  margin-top: 5em;
  margin-bottom: 1em;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
}
.freeBox__myxnz {
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  max-width: 100%;
  align-self: center;
  margin-bottom: 1.5em;
}
.hospitalName {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: stretch;
  row-gap: 0px;
  min-width: 0;
  padding: 8px;
}
.title {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Vazirmatn", sans-serif;
  color: #000000;
  font-size: 0.8em;
  font-weight: 700;
  min-width: 0;
}
.text__ihQ91 {
  position: relative;
  width: 100%;
  height: 10%;
  max-width: 100%;
  border-right-style: none;
  border-right-width: 1px;
  border-bottom-style: none;
  border-bottom-width: 1px;
  border-left-style: none;
  border-left-width: 1px;
  min-width: 0;
  border-top: 5px solid var(--token-rw7HICykK2u6);
}
.value {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Vazirmatn", sans-serif;
  color: #000000;
  font-size: 0.8em;
  min-width: 0;
}
.hospitalSize {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: stretch;
  row-gap: 0px;
  min-width: 0;
  padding: 8px;
}
.title5 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Vazirmatn", sans-serif;
  color: #000000;
  font-size: 0.8em;
  font-weight: 700;
  min-width: 0;
}
.text___9X9A3 {
  position: relative;
  width: 100%;
  height: 10%;
  max-width: 100%;
  border-right-style: none;
  border-right-width: 1px;
  border-bottom-style: none;
  border-bottom-width: 1px;
  border-left-style: none;
  border-left-width: 1px;
  min-width: 0;
  border-top: 5px solid var(--token-rw7HICykK2u6);
}
.value5 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Vazirmatn", sans-serif;
  color: #000000;
  font-size: 0.8em;
  min-width: 0;
}
.subscriptionState {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: stretch;
  row-gap: 0px;
  min-width: 0;
  padding: 8px;
}
.title2 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Vazirmatn", sans-serif;
  color: #000000;
  font-size: 0.8em;
  font-weight: 700;
  min-width: 0;
}
.text__gpZh4 {
  position: relative;
  width: 100%;
  height: 10%;
  max-width: 100%;
  border-right-style: none;
  border-right-width: 1px;
  border-bottom-style: none;
  border-bottom-width: 1px;
  border-left-style: none;
  border-left-width: 1px;
  min-width: 0;
  border-top: 5px solid var(--token-rw7HICykK2u6);
}
.value2 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Vazirmatn", sans-serif;
  color: #000000;
  font-size: 0.8em;
  min-width: 0;
}
.paymentState {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: stretch;
  row-gap: 0px;
  min-width: 0;
  padding: 8px;
}
.title7 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Vazirmatn", sans-serif;
  color: #000000;
  font-size: 0.8em;
  font-weight: 700;
  min-width: 0;
}
.text__muiLe {
  position: relative;
  width: 100%;
  height: 10%;
  max-width: 100%;
  border-right-style: none;
  border-right-width: 1px;
  border-bottom-style: none;
  border-bottom-width: 1px;
  border-left-style: none;
  border-left-width: 1px;
  min-width: 0;
  border-top: 5px solid var(--token-rw7HICykK2u6);
}
.value7 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Vazirmatn", sans-serif;
  color: #000000;
  font-size: 0.8em;
  min-width: 0;
}
.subscriptionExpirationDate {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: stretch;
  row-gap: 0px;
  min-width: 0;
  padding: 8px;
}
.title3 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Vazirmatn", sans-serif;
  color: #000000;
  font-size: 0.8em;
  font-weight: 700;
  min-width: 0;
}
.text__wUnI6 {
  position: relative;
  width: 100%;
  height: 10%;
  max-width: 100%;
  border-right-style: none;
  border-right-width: 1px;
  border-bottom-style: none;
  border-bottom-width: 1px;
  border-left-style: none;
  border-left-width: 1px;
  min-width: 0;
  border-top: 5px solid var(--token-rw7HICykK2u6);
}
.value3 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Vazirmatn", sans-serif;
  color: #000000;
  font-size: 0.8em;
  min-width: 0;
}
.appUrl {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: stretch;
  row-gap: 0px;
  min-width: 0;
  padding: 8px;
}
.title4 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Vazirmatn", sans-serif;
  color: #000000;
  font-size: 0.8em;
  font-weight: 700;
  min-width: 0;
}
.text__l1YCh {
  position: relative;
  width: 100%;
  height: 10%;
  max-width: 100%;
  border-right-style: none;
  border-right-width: 1px;
  border-bottom-style: none;
  border-bottom-width: 1px;
  border-left-style: none;
  border-left-width: 1px;
  min-width: 0;
  border-top: 5px solid var(--token-rw7HICykK2u6);
}
.value4 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Vazirmatn", sans-serif;
  color: #1677ff;
  font-size: 0.8em;
  cursor: pointer;
  min-width: 0;
}
.adminpanelUrl {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: stretch;
  row-gap: 0px;
  min-width: 0;
  padding: 8px;
}
.title6 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Vazirmatn", sans-serif;
  color: #000000;
  font-size: 0.8em;
  font-weight: 700;
  min-width: 0;
}
.text__dudjx {
  position: relative;
  width: 100%;
  height: 10%;
  max-width: 100%;
  border-right-style: none;
  border-right-width: 1px;
  border-bottom-style: none;
  border-bottom-width: 1px;
  border-left-style: none;
  border-left-width: 1px;
  min-width: 0;
  border-top: 5px solid var(--token-rw7HICykK2u6);
}
.value6 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Vazirmatn", sans-serif;
  color: #1677ff;
  font-size: 0.8em;
  cursor: pointer;
  min-width: 0;
}
.errorMessage {
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #ff4d4f;
  font-family: "Vazirmatn", sans-serif;
  font-weight: 600;
  font-size: 0.8em;
  min-width: 0;
}
.paymentDetailsStack {
  display: flex;
  flex-direction: column;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: stretch;
}
.text__boQkm {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  color: #000000;
  font-family: "Vazirmatn", sans-serif;
  font-weight: 800;
  font-size: 1em;
  align-self: flex-end;
  margin-bottom: 1em;
  border-bottom: 3px solid var(--token-Ld3hEl3yBumN);
}
.paymentDetails {
  display: flex;
  flex-direction: row;
  position: relative;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: stretch;
  align-self: flex-end;
  border-bottom-style: solid;
  border-bottom-width: 3px;
  column-gap: 0px;
  padding: 1em;
}
.id {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  color: #000000;
  font-family: "Vazirmatn", sans-serif;
  border-left-style: dashed;
  border-left-width: 1px;
  align-self: center;
  font-size: 0.8em;
  text-align: center;
  padding: 8px;
}
.isProforma {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  color: #000000;
  font-family: "Vazirmatn", sans-serif;
  border-left-style: dashed;
  border-left-width: 1px;
  align-self: center;
  font-size: 0.8em;
  text-align: center;
  padding: 8px;
}
.startDate {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  color: #000000;
  font-family: "Vazirmatn", sans-serif;
  border-left-style: dashed;
  border-left-width: 1px;
  align-self: center;
  font-size: 0.8em;
  text-align: center;
  padding: 8px;
}
.endDate {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  color: #000000;
  font-family: "Vazirmatn", sans-serif;
  border-left-style: dashed;
  border-left-width: 1px;
  align-self: center;
  font-size: 0.8em;
  text-align: center;
  padding: 8px;
}
.paid {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  color: #000000;
  font-family: "Vazirmatn", sans-serif;
  border-left-style: dashed;
  border-left-width: 1px;
  align-self: center;
  font-size: 0.8em;
  text-align: center;
  padding: 8px;
}
.totalAmount {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  color: #000000;
  font-family: "Vazirmatn", sans-serif;
  border-left-style: dashed;
  border-left-width: 1px;
  align-self: center;
  font-size: 0.8em;
  text-align: center;
  padding: 8px;
}
.fileUrl {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  color: #1677ff;
  font-family: "Vazirmatn", sans-serif;
  border-left-style: dashed;
  border-left-width: 1px;
  align-self: center;
  font-size: 0.8em;
  text-align: center;
  cursor: pointer;
  text-decoration-line: underline;
  padding: 8px;
}
